@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   box-sizing: border-box;
   font-family: "Comfortaa", sans-serif;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}
a {
   outline: none;
   user-select: none;
}
.open {
   transition: all 0.3s ease-in-out;

   position: fixed;
   left: 0;
}
.close {
   transition: all 0.3s ease-in-out;
   left: -100%;
   position: fixed;
}
.show {
   top: 0;
}
.hide {
   top: -100px;
}
.navbar {
   transition: all ease 0.3s;
}

.logo {
   animation: animate 8s ease-in-out infinite;
   border: 5px solid #000;
}
.icons .icon {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   border-radius: 50%;
   padding: 10px;
   height: 50px;
   width: 50px;
}
.input-radius {
   border-radius: 20px 0 0 20px;
}
.button-radius {
   border-radius: 0 20px 20px 0;
}

.styled-table {
   border-collapse: collapse;
   width: 100%;
   margin: 50px 0;
   overflow: hidden;
}
.styled-table thead tr {
   background-color: #009879;
   color: #ffffff;
   text-align: left;
}
.styled-table td {
   padding: 12px 5px;
}
.styled-table tbody tr {
   border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
   border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
   font-weight: bold;
   color: #009879;
}
.header-rounded {
   border-radius: 10px 10px 0 0;
   padding: 10px 0;
   font-weight: 700;
}

@keyframes animate {
   0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
   }
   50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
   }
   100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
   }
}
